/**
 * UserCursor Styles
 */

.cursor {
  position: absolute;
  width: 2px;
  height: 1.2em;
  border-left: 2px solid;
  pointer-events: none;
  z-index: 100;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.label {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
